/* Vertically fill 100% */
.reveal .slides {
    height: 100%;
    top: 0;
    margin-top: 0;
}

.reveal .slides>section {
    min-height: 90%;
}

.reveal .slides>section>section {
    min-height: 100%;
}

.reveal section img.normal-image {
  background: none;
  border: none;
  box-shadow: none;
}
/************************************************/

.small {
  font-size: 10px;
}

.highlight {
  color: #42affa;
}

.reveal div.diagram {
    width: 100%;
    /*width: 800px;*/
    /*height: 400px;*/
    margin: 0 auto;
}

.reveal div.diagram-startup {
    display: inline-block;
    width: 400px;
    height: 300px;
    margin: 0 auto;
}

.reveal div.diagram-benchmark {
    display: inline-block;
    width: 400px;
    height: 160px;
    margin: 0 auto;
}

.reveal pre {
    width: 100%;
}

.reveal pre code {
    max-height: none;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    text-transform: none;
}
